<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

Utilisation de la class shop pour créer un profil paramétré de supermarché

In [1]:
from shoppingmall import shop

In [6]:
# initialisation of the shop object
shop1 = {
    'S' : 20000,
    'f_food': 0.2,
    'spE_fri': 250,
    'spE_light': 125  , 
    'spE_hvac': 100   , 
    'spE_othr': 25   , 
    'frm': 8, 
    'to': 20, 
    'days': 365,
}

shop1 = shop(**shop1)

In [9]:
# get information on the object
shop1.info()

the leasable surface is 20000 m^2
the fraction of food store is 0.2
the specific energie demand for refrigeration is 250 kWh/m^2
the specific energie demand for lighting is 125 kWh/m^2
the specific energie demand for HVAC is 100 kWh/m^2
the specific energie demand for other usage is 25 kWh/m^2
open 365 day from 8h to 20h

In [12]:
# create profile and save to the default or given file name
df_profil = shop1.create_profile()

In [13]:
shop1.profile

      heures       total  Refrigeration    Lighting        HVAC       Other
0        1.0  141.417449      79.150948    0.000000   62.266501    0.000000
1        2.0  141.417449      79.150948    0.000000   62.266501    0.000000
2        3.0  141.417449      79.150948    0.000000   62.266501    0.000000
3        4.0  141.417449      79.150948    0.000000   62.266501    0.000000
4        5.0  141.417449      79.150948    0.000000   62.266501    0.000000
...      ...         ...            ...         ...         ...         ...
8755    20.0  949.910059      98.934551  570.776256  166.044002  114.155251
8756    21.0  141.414141      79.147641    0.000000   62.266501    0.000000
8757    22.0  141.414141      79.147641    0.000000   62.266501    0.000000
8758    23.0  141.414141      79.147641    0.000000   62.266501    0.000000
8759    24.0  141.414141      79.147641    0.000000   62.266501    0.000000

[8760 rows x 6 columns]